html {
    background: #959595;
    background-image: url(images/space.jpg);
    background-size: cover;
  }

  body{
    font-family:Arial, Helvetica, sans-serif;
    margin:  20px;
    
    color: rgb(255, 255, 255);
  }
  
  header h1 {
    border-radius: 50px;
    text-align: center;
  }

  section {
    background: #080808;
    padding-top: 2%;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    ;
  } 

  section .container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    position: absolute;
  }

  img {
    height: 35%; 
    max-width: 35%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
  }

  .moon  {
    height: 20%;
    max-width: 20%;
  }

