html {
    background: #080808;
    background-image: url(images/space.jpg);
    background-size: cover;
  }

  body{
    font-family:Arial, Helvetica, sans-serif;
    margin:  20px;
    
    color: rgb(255, 255, 255);
  }
  
  header {
    
  }

  header h1 {
    border-radius: 1%;
    text-align: center;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    ;
  } 

  img {
    height: 35%; 
    max-width: 35%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
  }

  .moon{
    height: 15%; 
    max-width: 15%;
  }

